@import url("_library");

.resevation-title {
  line-height: 140%;
  font-weight: 700;

  @apply p:text-[48px] t:text-[32px] m:text-[32px];
}

.resevation-h1 {
  line-height: 140%;
  font-weight: 700;
  
  @apply p:text-[40px] t:text-[32px] m:text-[32px];
}

.resevation-h2 {
  line-height: 140%;
  font-weight: 700;
  color: var(--x7de9);
  
  @apply p:text-[32px] tm:text-[28px];
}

.resevation-h3 {
  line-height: 170%;
  font-weight: 700;
  
  @apply p:text-[24px] t:text-[22px] m:text-[22px];

  &.deco-line {
    @apply relative;

    &::before {
      content: "";

      @apply absolute w-full bottom-[-4px] h-[1px] bg-[var(--black)];
    }
  }
}

.resevation-h4 {
  line-height: 170%;
  font-weight: 700;

  @apply p:text-[18px] t:text-[16px] m:text-[14px];
}

.resevation-p {
  line-height: 170%;

  @apply p:text-[18px] t:text-[16px] m:text-[14px];
}

.resevation-table-text {
  line-height: 170%;
  letter-spacing: 0;

  @apply p:text-[16px] t:text-[14px] m:text-[13px];
}

.resevation-table-border {
  border-left-style: dashed;

  @apply border-t border-l border-[#fff] border-opacity-30;
}

.resevation-table-highlight {
  @apply relative z-[1];

  &::before {
    content: '';

    @apply absolute inset-x-0 top-0 bottom-[-1px] bg-[#E12020]/80 z-[-1];
  }

  &.first {
    &::before {
      @apply top-[-6px];
    }
  }

  &.last {
    &::before {
      @apply bottom-[-6px];
    }
  }
}

.deco-header {
  @apply text-center relative pt:pb-[28px] m:pb-[18px];

  &::before {
    content: "";

    @apply absolute bottom-0 left-1/2 -translate-x-1/2 w-[50px] h-[1px] bg-[#fff];
  }
}

.reservation-card {
  @apply relative;

  &::before {
    content: "Before";
  
    @apply absolute p:top-[-130px] p:left-[-100px] t:top-[-122px] t:left-[-46px] m:top-[-100px] m:left-[-30px] text-[#E12020] opacity-[15%] font-extrabold p:text-[120px] p:leading-[1.7] t:text-[100px] m:text-[85px];
  }
}

.reservation-card-reverse {
  @apply relative;

  &::before {
    content: "After";
  
    @apply absolute p:top-[-130px] p:right-[-100px] t:top-[-124px] t:right-[-40px] m:top-[-108px] m:right-[-20px] text-[#E12020] opacity-[15%] font-extrabold p:text-[120px] p:leading-[1.7] t:text-[100px] m:text-[85px];
  }
}

.reservation-card-reverse-bottom {
  @apply relative;

  &::before {
    content: "After";
  
    @apply absolute p:bottom-[-93px] p:right-[-263px] t:bottom-[-124px] t:right-[-84px] m:bottom-[-94px] m:right-[-80px] text-[#E12020] opacity-[15%] font-extrabold p:text-[120px] p:leading-[1.7] t:text-[100px] m:text-[85px];
  }
}

.resevation-img {
  @apply relative;

  &::before {
    content: "";
    background: rgba(#565656, 0.55);

    @apply absolute w-full h-full top-[15px] left-[15px];
  }
}

.deco-more {
  transform: translateY(0) rotate(90deg);
  animation: shinning 1s ease-in-out infinite alternate-reverse;

  @apply pt:w-[18px] pt:h-[18px] m:w-[14px] m:h-[14px];
}

@keyframes shinning {
  0% {
    transform: translateY(0) rotate(90deg);
  }

  100% {
    transform: translateY(3px) rotate(90deg);
  }
}

.resevation-bg-01 {
  background: linear-gradient(rgba(#2d2d2d, 0.76), rgba(#2d2d2d, 0.76)),
  url('@imgs/resevation/bg-04.jpg') center center no-repeat;
  background-size: cover;
}

.resevation-bg-02 {
  background-image: 
    linear-gradient(rgba(#C7C7C7, 0.76), rgba(#C7C7C7, 0.76)),
    linear-gradient(rgba(#000, 0.1), rgba(#000, 0.1)), 
    url('@imgs/resevation/bg-02.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.resevation-bg-03 {
  background-image: 
    linear-gradient(rgba(#C7C7C7, 0.76), rgba(#C7C7C7, 0.76)),
    linear-gradient(rgba(#000, 0.1), rgba(#000, 0.1)), 
    url('@imgs/resevation/bg-03.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}