html,
body {
  text-size-adjust: none;
  font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', 'Heiti TC', '黑體', Helvetica,
    sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

em,
i {
  @apply not-italic;
}

b,
strong {
  @apply font-bold;
}

img {
  @apply h-[inherit] align-middle;
}

@screen p {
  html,
  body {
    @apply flex min-h-screen flex-col text-[16px];
  }

  button {
    @apply cursor-pointer;
  }
}

/* @screen pt {} */

@screen pMin {
  html,
  body {
    @apply text-vmp;
  }
}

@screen t {
  html,
  body {
    @apply text-vmt;
  }
}

@screen m {
  html,
  body {
    @apply text-vmm;
  }
}

@screen mLandscape {
  html,
  body {
    @apply text-vmmls;
  }
}
