@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.m-loading {
  &.fixed {
    @apply inset-0 z-[5];

    &::before {
      @apply absolute h-full w-full bg-[var(--black)] opacity-75 content-default;
    }
  }
}

.m-loading-svg {
  animation: loading 1.2s infinite;
}
