.m-slider {
  @apply relative;
}

[class^='m-slider-ctrl'] {
  @apply absolute top-1/2 flex w-full -translate-y-1/2 items-center justify-between m:px-[8px] pt:px-[10px];
}

.m-slider-prev,
.m-slider-next {
  background-color: rgba(#fff, 0.3);

  @apply relative flex items-center justify-center rounded-full border border-solid border-[#c9c9c9] m:h-[40px] m:w-[40px] pt:h-[50px] pt:w-[50px];

  &::before {
    content: '';
    width: 20px; /* 水平线的长度 */
    height: 2px; /* 水平线的厚度 */

    @apply absolute left-1/2 top-1/2 h-[1px] -translate-x-1/2 -translate-y-1/2 bg-[#c9c9c9] m:w-[16px] pt:w-[20px];
  }

  &::after {
    content: '';

    @apply absolute top-1/2 -translate-x-full -translate-y-1/2 border-[4px] border-solid border-transparent border-l-[#c9c9c9] m:left-[34px] pt:left-[40px];
  }
}

.m-slider-prev {
  @apply rotate-[-180deg];
}

.tns-outer {
  @apply relative;
}

.tns-nav {
  @apply absolute bottom-0 left-1/2 flex -translate-x-1/2 space-x-[6px];

  & > * {
    transition: background-color 0.3s ease-in-out;

    @apply h-[2px] bg-[var(--x56)] m:w-[30px] pt:w-[40px];
  }
}

.tns-nav-active {
  @apply bg-[var(--xe120)];
}
